<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Person</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h3>Person Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Person</p>
    <form action="#" th:action="@{/person/save}"
          th:object="${persons}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{PersonId}" />
        <input type="text" th:field="*{FirstName}"
               class="form-control mb-4 col-4" placeholder="First name">
        <input type="text" th:field="*{MiddleName}"
               class="form-control mb-4 col-4" placeholder="Middle name">
        <input type="text" th:field="*{LastName}"
               class="form-control mb-4 col-4" placeholder="Last name">
        <input type="text" th:field="*{Address}"
               class="form-control mb-4 col-4" placeholder="Address">
        <input type="text" th:field="*{Birthday}"
               class="form-control mb-4 col-4" placeholder="Birthday">
        <input type="text" th:field="*{Country}"
               class="form-control mb-4 col-4" placeholder="Country">
        <input type="text" th:field="*{Email}"
               class="form-control mb-4 col-4" placeholder="Email">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>

</body>
</html>

